
/* Configurações gerais*/

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

/* Fonts */

@font-face{
    font-family: HitandRun;
    src: url(../../font/HitandRun-Regular.otf);
}

@font-face{
    font-family: MomcakeBold;
    src: url(../../font/Momcake-Bold.otf);
}

@font-face{
    font-family: MomcakeThin;
    src: url(../../font/Momcake-Thin.otf);
}

@font-face{
    font-family: OCRAExt;
    src: url(../../font/OCRAEXT.TTF);
}

@font-face{
    font-family: GroldM;
    src: url(../../font/Grold-Medium.ttf);
}

/* Scrollbar */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #181818;
}

/*::-webkit-scrollbar-button{

}*/

::-webkit-scrollbar-thumb{
    background-color: #909090;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #606060;
}

nav.navbar-color{
    background: #020001;
    opacity: 80%;
}

.nav-link{
    font-family: HitandRun;
    
}

.navbar-light .navbar-nav .nav-link{
    color: white;
    
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #9bf0e1;
}


.navbar-light .navbar-toggler{
    color: rgba(255, 255, 255,0.5);
    border-color: rgba(255, 255, 255,0.5);
}


/* Body */

body{
    background: url(../../img/Big_Bobs/fundo.png);
}



/* Header */

#header{
    position: relative;
    background: url(../../img/Big_Bobs/fundo_acompanhamentos.png);
    background-size: cover;
}

#logo__header{
    position: absolute;
    top: 8%;
    left: 8%;

}

.header__text{
    font-family: GroldM;
    color: #FBFBFB;
    font-size: 2.8em;
    text-transform: uppercase;
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: center;
}

/* Candidatura */

.candidatura__title{
    font-family: GroldM;
    color: #020001;
    font-size: 2em;
    text-transform: uppercase;
    padding-top: 5%;
    padding-bottom: ;
    text-align: center; 
}

.candidatura__text{
    font-family: GroldM;
    color: #020001;
    font-size: 1em;
    text-transform: uppercase;
    padding-top: ;
    padding-bottom: 5%;
    text-align: center; 
}



/* Formulario*/



.input__form{
    width: 100%;
    border: none;
    border-bottom: 1px solid #02000142;
    margin-bottom: 5%;
    background: none;
}

.input__form:hover{
    width: 100%;
    border: none;
    border-bottom: 1px solid #020001;
    margin-bottom: 5%;
    background: none;
}


.input__form--postal1{
    width: 40%;
    border: none;
    border-bottom: 1px solid #02000142;
    margin-bottom: 5%;
    background: none;
}

.input__form--postal1:hover{
    width: 40%;
    border: none;
    border-bottom: 1px solid #020001;
    margin-bottom: 5%;
    background: none;
}

.input__form--postal2{
    width: 30%;
    border: none;
    border-bottom: 1px solid #02000142;
    margin-bottom: 5%;
    background: none;
}

.input__form--postal2:hover{
    width: 30%;
    border: none;
    border-bottom: 1px solid #020001;
    margin-bottom: 5%;
    background: none;
}

.input__file{
    width: 100%;
    border: none;
    background: none;
}

.input__file--text{
    font-size: 0.8em;
    margin-bottom: 5%;
    margin-top: 1%;
    font-weight: 500;
}

.btn__form{
    border-radius: 10px;
    border: #020001;
    padding: 5px;
    background-color: #020001;
    color: #FBFBFB;
    margin-bottom: 10%;
    margin-top: 2%;
}

.btn__form:hover{
    border-radius: 10px;
    border: #555353;
    padding: 5px;
    background-color: #555353;
    color: #FBFBFB;
    margin-bottom: 10%;
}




/* Footer */

#pre-footer{
    background: #262527;
    padding-top: 2%;
}

.footer__title{
    color: #C5C6D1;
    font-family: MomcakeBold;
}

.footer__text{
    color: #C5C6D1;
    font-family: MomcakeThin;
    text-decoration: none;
}

.footer__text:hover{
    color: #a7a8b1;
    font-family: MomcakeThin;
    text-decoration: none;
}

.footer{
    background: #262527;
}

.social__media{
    margin-right: 2%;
}

.img__app{
    margin-bottom: 2%;
}

.footer__rights{
    color: #56575C;
    font-family: MomcakeBold;
    text-align: center;
    padding-top: 1%;
    padding-bottom:0;
    margin: 0;
    font-size: 1.1em;
}







/* Media querie*/

@media (max-width: 575.98px) { 

    .header__link{
        font-family: GroldM;
        font-size: 1.2em;
        color: #FBFBFB;
        position: absolute;
        top: 15%;
        left: 10%;
    }

    .header__link:hover{
        text-decoration: none;
        color: #fbfbfb80;
        
    }
    
    .header__text{
        font-family: GroldM;
        color: #FBFBFB;
        font-size: 1.8em;
        text-transform: uppercase;
        padding-top: 20%;
        padding-bottom: 5%;
        text-align: center;
    }  

    .candidatura__title{
        font-family: GroldM;
        color: #020001;
        font-size: 1.6em;
        text-transform: uppercase;
        padding-top: 5%;
        padding-bottom: ;
        text-align: center; 
    }
    
    
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 

    .header__link{
        font-family: GroldM;
        font-size: 1.2em;
        color: #FBFBFB;
        position: absolute;
        top: 15%;
        left: 10%;
    }

    .header__link:hover{
        text-decoration: none;
        color: #fbfbfb80;
        
    }
    
    .header__text{
        font-family: GroldM;
        color: #FBFBFB;
        font-size: 2.3em;
        text-transform: uppercase;
        padding-top: 15%;
        padding-bottom: 5%;
        text-align: center;
    }  

    .candidatura__title{
        font-family: GroldM;
        color: #020001;
        font-size: 1.6em;
        text-transform: uppercase;
        padding-top: 5%;
        padding-bottom: ;
        text-align: center; 
    }
    

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .header__text{
        font-family: GroldM;
        color: #FBFBFB;
        font-size: 2.8em;
        text-transform: uppercase;
        padding-top: 15%;
        padding-bottom: 5%;
        text-align: center;
    }
    
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
}
